@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
body {font-family: 'Nanum Gothic', 'serif';}

header {
    display: none;
    padding: 1rem;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0099ff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;  
    display: block;
    transition: 0.3s;
}
  
.menu ul li a :hover {
    color: black;
}

.closebtn {
    position: absolute;
    color: white;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menuTrigger{
    display:block;
    padding: 10px;
    margin: 10px auto;
    border: 2px  black;
    color: white;  
    background-color: #0099ff
}


#menuBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    background-color: #0099ff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#menuBar li {
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
}
#menuBar a {
    text-decoration: none;
    display: block;
}

#menuBar li a {
    color: white;
}

.mainSection div {
    display: inline;
}

.mainSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mainContainer {
    display: inherit;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    justify-content: center;
    align-content: center;
}

.mainContainer .mainInfoContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}

.mainContainer .subInfoContainer {
    display: inherit;
    width: 90%;
    margin-left: 5%;
}

<<<<<<< Updated upstream
#bookImg {
    display: flex;
    padding: 4rem;
    padding-bottom: 0;
    align-items: center;
=======
#mainInfo {
    width: 100%;
>>>>>>> Stashed changes
}

#money {
    width: 100%;
}

#money h3{
    color: blue;
    font-size: 20px;
    padding: 0;
    width: 100%;
    text-align: right;
}

#detailInfo {
    font-size: 18px;
    justify-content: center;
    padding: 1rem;
    width: 90;
}

#purchase {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#choiceZone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
    padding-left: 3rem;
    justify-content: center;
}

#choiceZone input {
    text-align: right;
    width: 5rem;
    height: 2.5rem;
    font-size: 16px;
    font-family: 'Nanum Gothic', 'serif';
}

#choiceZone button {
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 20px;
}

#choiceZone p {
    width: 100%;
    margin-right: 1rem;
    text-align: right;
    font-size: 18px;
}

#control {
<<<<<<< Updated upstream
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem;
=======
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
>>>>>>> Stashed changes
    justify-content: center;
}

#control button {
<<<<<<< Updated upstream
    width: calc(80%/2);
=======
    display: inline;
    width: 45%;
>>>>>>> Stashed changes
    height: 2.5rem;
    color: white;
    background-color: #0099ff;
    font-family: 'Nanum Gothic', 'serif';
    font-size: 20px;
    margin: 1%;
}

#bookListWrapper {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    width: 100%;
    height: 500rem;
    background-color: aquamarine;
    justify-content: center;

}

#bookList {
    display: inherit;
    /* flex-direction: column;
    flex-flow: nowrap; */
    width: 80%;
    height: inherit;
    background-color:chartreuse;
}

#purchaseBtn {
    background-color: aqua;
    margin-left: 3rem;
}

@media (min-width: 768px) {

    header {
        position: relative;
        display: block;
        padding: 1rem;
    }

    header > h2 {
        display: inline;
        padding-left: 1rem;
    }


    #menuTrigger{
        display: none;
    }

    
    #menuBar {
        height: 4.7rem;
        width: 100%;
        padding: 0;
        display: block;
        position: relative;
    }
    
    #menuBar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    #menuBar ul:after{
        content:'';
        display: block;
        clear:both;
    }
    
    #menuBar li {
        width: 25%;
        display: inline;
        text-align: center;
        color: white;
        float: left;
    }

    #menuBar li:hover {
        background: blue;
        color: white;
    }

    .menu ul li a :hover {
        color: white;
    }

    .mainSection {
        padding-top: 3%;
        height: 70%;
    }

    .mainContainer {
        height: 50%;
    }
    .mainContainer .mainInfoContainer {
        margin-left: 5%;
        position: absolute;
        width: 35%;
    }

    .mainContainer .subInfoContainer {
        width: 45%;
        margin-top: 5%;
        margin-left: 50%;
    }

    #detailInfo {
        padding: 3rem;
    }

    #recommend {
        padding-bottom: 1rem;
    }
    #purchase {
        padding: 2rem;
    }
    #bookImg{
        padding-top: 1rem;
        padding-bottom: 0;
    }
    
    #bookSubInfo {
        margin-top: 10rem;
    } 

<<<<<<< Updated upstream
    #control {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3rem;
        justify-content: center;
    }
    
    #control button {
        width: 12rem;
        height: 2.5rem;
        color: white;
        background-color: #0099ff;
        font-family: 'Nanum Gothic', 'serif';
        font-size: 20px;
    }
=======
    #bookListWrapper {
        display: flex;
        flex-direction: column;
        flex-flow: nowrap;
        width: 80%;
        height: 500rem;
        background-color: aquamarine;
    }
    
>>>>>>> Stashed changes
}