@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
body {font-family: 'Nanum Gothic', 'serif';}

header {
    padding: 1rem;
}
header > h3 {
    display: inline;
    padding-left: 1rem;
}

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #50bcdf;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: black;
    display: block;
}
  
nav a:hover {
    color: #f1f1f1;
}
  
nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media (min-width: 768px) {
    nav {
        height: 50px;
        width: 100%;
        padding: 0;
        margin-top: 5rem;
        display: block;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /* background-color: #50bcdf; */
    }
    
    nav ul:after{
        content:'';
        display: block;
        clear:both;
    }
    
    nav li {
        width: 25%;
        height: 50px;
        display: inline;
        text-align: center;
        color: black;
        font-size: 14px;
        float: left;
    }

    nav li:hover {
        background: blue;
        color: white;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    nav a:hover {
        text-decoration: none;
        color: white;
    }

    section {
        margin-top: 4rem;
    }
}

section {
    background-color: gray;
    width: 100%;
    height: auto;
    display: block;
}


